.headCard_blue {
	background-color: rgb(
		0,
		89,
		255
	); /* Задает синий цвет фона для синей карточки */
}

.headCard_gray {
	background-color: rgb(
		46,
		46,
		46
	); /* Задает серый цвет фона для серой карточки */
}

.headCard_green {
	background-color: rgb(
		14,
		172,
		0
	); /* Задает зеленый цвет фона для зеленой карточки */
}

.headCard_red {
	background-color: rgb(
		228,
		15,
		0
	); /* Задает красный цвет фона для красной карточки */
}

.Card {
	width: 310px; /* Ширина карточки */
	margin: auto; /* Выравнивание карточки по центру */
	transition: transform 1s; /* Плавный переход при изменении размера */
	cursor: pointer; /* Меняет курсор при наведении на указатель */
}

.Card_green:hover {
	transform: scale(1.2); /* Увеличение размера карточки при наведении курсора */
}

.Card_selected {
	border: 2px solid #000; /* Обводка для выбранной карточки */
	transform: scale(1.2); /* Увеличение размера выбранной карточки */
}
